@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: #121212;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: #F1F4FF;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.5rem 0;
    position: relative;
}
.header__navbar ul{
    list-style: none;
    display: flex;
    column-gap: 2.5rem;
    font-weight: 700;
}
.header__navbar ul li{
    cursor: pointer;
    position: relative;

}
.header__navbar ul li::after{
    content: '';
    width: 50%;
    height: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    position: absolute;
    bottom: -.5rem;
    transition: 300ms ease-in-out;
}
.header__navbar ul li:hover::after{
    width: 100%;
    height: 2px;

}
.btn__container{
    position: relative;
    min-height: 1.4rem;
    padding: 1.4rem 4.4rem;
    border: 2px solid #1D1D1D;
}
.btn{
    position: absolute;
    left: 0;
    top: 0;
    height: 96.50%;
    width: 98%;
    padding: .6rem 0;
    color: #efefef;
    background-color: #121212;
    text-decoration: none;
    border-bottom: #efefef;
    text-align: center;
}

/* hero */

    /* positioning */
    /* Box-model */
    /* Typo */
    /* visual */

.hero__wrapper{
    /* positioning */
    position: relative;

    /* Box-model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.2rem 2.5rem 3rem;


}
.hero__wrapper > *{
    /* Box-model */
    flex: 1;
}
.text__content{
    /* positioning */
    position: relative;
    z-index: 95;

    /* visual */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 4.13%, rgba(255, 255, 255, 0.5) 80.29%);
    box-shadow: 0px 70px 40px rgba(74, 85, 188, 0.137074);
    backdrop-filter: blur(19.028px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
    padding: 3.5rem 2rem;
    overflow: visible;
}
.left{
    position: relative;
}
.circle1{
    /* positioning */
    position: absolute;
    

    /* Box-model */
    width: 129px;
    height: 129px;

    /* visual */
    background: #FF9890;
    filter: blur(54.3656px);
}

.circle2{
    /* positioning */
    position: absolute;
    right: 2.5rem;
    top: -2rem;

    /* Box-model */
    width: 67px;
    height: 67px;
    border-radius: 50%;
    
    /* visual */
    background: #FF9890;
}
.circle3{
    /* positioning */
    position: absolute;
    bottom: -1.2rem;
    right: 40%;

    /* Box-model */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    /* visual */
    background: linear-gradient(322.37deg, #000000 21.81%, #D8D8D8 144.42%);
}
.text__content h1{
    /* box-model */
    margin-bottom: 1.625rem;
    /* typo */
    font-size: 4.5rem;
    font-weight: 400;
}
.text__content h1 span{
    /* typo */
    font-weight: 700;
}
.text__content p{
    /* typo */
    line-height: 2.3rem;
    font-size: 18px;
    opacity: .8;
}
.left::after{
    content: url(images/random\ lines.svg);
    position: absolute;
    right: -5.3rem;
    bottom: 1rem;
    z-index: 99;
}

.right img{
    position: relative;
    max-width: 588.96px;
    max-height: 684.04px;
}
.right{
    /* positioning */
    position: relative;
    transform: translateY(50px);

    /* Box-model */
    display: flex;
    justify-content: center;
    
}
.right::after{
    content: '';

    /* positioning */
    position: absolute;
    right: 2.5rem;
    top: 25%;
    /* box-model */
    width: 61px;
    height: 61px;
    border-radius: 50%;

    /* visual */
    background-color: #FF9890;
}
/* hero */

/* footer */

footer{
    /* positioning */
    position: relative;
}

.footer__content{
        /* box model */
        display:flex;
        column-gap: 40px;
        margin-left: 4rem;
        align-items: center;
}

.btn__gradient{

    /* box model */
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 5rem;

    /* typo */
    font-weight: 700;
    letter-spacing: 1px;

    /* visual */
    background: linear-gradient(180deg, #000000 0%, #303030 100%);
    border: 2px solid #1D1D1D;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;


}

.footer__content p{
        /* box model */
        display: flex;
        flex-direction: row;
        align-items: center;
    
        /* typo */
        font-size: 1.1rem;
        font-size: 400;

}

.fa-whatsapp{
    font-size: 2rem;
    padding-right: 1rem;
}

/* footer */
